a,
a:visited {
	color: var(--whale-link-color);
	text-decoration: none;
}

a.new,
a.new:visited {
	color: #b32424;
}

a:hover,
a:focus,
a.new:hover,
a.new:focus,
a.external:hover,
a.external:focus,
.plainlinks a.external:hover,
.plainlinks a.external:focus {
	text-decoration: underline;
	transition: 0.3s;
}

a:hover,
a:focus,
.plainlinks a.external:hover,
.plainlinks a.external:focus {
	color: var(--whale-second-color);
}

a.new:hover,
a.new:focus {
	color: #8a1a1a;
}

a.external {
	color: #0a6f2a;
}

a.external:hover,
a.external:focus {
	color: #084f20;
}

a.external:before {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 0.15em;
	background-color: #0a6f2a;
	color: #0a6f2a;
	content: "";
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.05025 1.53553C8.03344 0.552348 9.36692 0 10.7574 0C13.6528 0 16 2.34721 16 5.24264C16 6.63308 15.4477 7.96656 14.4645 8.94975L12.4142 11L11 9.58579L13.0503 7.53553C13.6584 6.92742 14 6.10264 14 5.24264C14 3.45178 12.5482 2 10.7574 2C9.89736 2 9.07258 2.34163 8.46447 2.94975L6.41421 5L5 3.58579L7.05025 1.53553Z'/%3E%3Cpath d='M7.53553 13.0503L9.58579 11L11 12.4142L8.94975 14.4645C7.96656 15.4477 6.63308 16 5.24264 16C2.34721 16 0 13.6528 0 10.7574C0 9.36693 0.552347 8.03344 1.53553 7.05025L3.58579 5L5 6.41421L2.94975 8.46447C2.34163 9.07258 2 9.89736 2 10.7574C2 12.5482 3.45178 14 5.24264 14C6.10264 14 6.92742 13.6584 7.53553 13.0503Z'/%3E%3Cpath d='M5.70711 11.7071L11.7071 5.70711L10.2929 4.29289L4.29289 10.2929L5.70711 11.7071Z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.05025 1.53553C8.03344 0.552348 9.36692 0 10.7574 0C13.6528 0 16 2.34721 16 5.24264C16 6.63308 15.4477 7.96656 14.4645 8.94975L12.4142 11L11 9.58579L13.0503 7.53553C13.6584 6.92742 14 6.10264 14 5.24264C14 3.45178 12.5482 2 10.7574 2C9.89736 2 9.07258 2.34163 8.46447 2.94975L6.41421 5L5 3.58579L7.05025 1.53553Z'/%3E%3Cpath d='M7.53553 13.0503L9.58579 11L11 12.4142L8.94975 14.4645C7.96656 15.4477 6.63308 16 5.24264 16C2.34721 16 0 13.6528 0 10.7574C0 9.36693 0.552347 8.03344 1.53553 7.05025L3.58579 5L5 6.41421L2.94975 8.46447C2.34163 9.07258 2 9.89736 2 10.7574C2 12.5482 3.45178 14 5.24264 14C6.10264 14 6.92742 13.6584 7.53553 13.0503Z'/%3E%3Cpath d='M5.70711 11.7071L11.7071 5.70711L10.2929 4.29289L4.29289 10.2929L5.70711 11.7071Z'/%3E%3C/svg%3E");
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	vertical-align: -0.125em;
}

.plainlinks a.external,
.plainlinks a.external:visited {
	color: var(--whale-link-color);
}

.plainlinks a.external:hover,
.plainlinks a.external:focus {
	color: var(--whale-second-color);
}

.plainlinks a.external:before {
	content: '';
}

.selflink {
	color: unset;
	font-weight: bold;
}

.selflink:hover,
.selflink:focus {
	color: unset;
	text-decoration: none;
}
