parameters:
	level: max
	bootstrapFiles:
		- tests/phpstan/mediawiki-stubs.php
	paths:
		- SkinWhale.php
		- SpecialWhaleShortUrl.php
		- Whale.php
		- WhaleAvatar.php
		- WhaleArticleDecorator.php
		- WhaleContributionGraph.php
		- WhaleHooks.php
		- WhaleNavbarParser.php
		- WhaleRenderer.php
		- WhaleShortUrl.php
	excludePaths:
		analyseAndScan:
			- vendor (?)
