/* Footer */
.Whale .content-wrapper .whale-footer {
	border: 1px solid #e1e8ed;
	border-radius: 0 0 0.35rem 0.35rem;
	background-color: #f5f8fa;
	padding: 1rem;
}

.Whale .content-wrapper .whale-footer ul {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 0.8rem;
	display: inline-block;
	width: 100%;
}

.Whale .content-wrapper .whale-footer .footer-places li {
	text-align: left;
	float: left;
	margin-right: 0.8rem;
}

.Whale .content-wrapper .whale-footer .footer-icons {
	margin-bottom: 0;
}

.Whale .content-wrapper .whale-footer .footer-icons li {
	margin-right: 0.8rem;
	float: left;
}

.Whale .content-wrapper .whale-footer .whale-footer-brand-img {
	display: block;
	width: auto;
	max-width: 88px;
	height: 31px;
	object-fit: contain;
}
/* Footer End */
