<nav class="freedom-content-actions">
	{{#data-content-navigation}}
		<div class="freedom-action-group">
			{{#views}}
				<a href="{{href}}" class="freedom-action-item {{class}}" id="{{id}}">{{text}}</a>
			{{/views}}
			{{#actions}}
				<a href="{{href}}" class="freedom-action-item {{class}}" id="{{id}}">{{text}}</a>
			{{/actions}}
		</div>
	{{/data-content-navigation}}
</nav>
