{{#data-whale-footer}}
{{#categories}}
	<ul class="{{class}}">
		{{#items}}
			<li class="{{class}}">{{{ html }}}</li>
		{{/items}}
	</ul>
{{/categories}}
	<ul class="footer-icons">
		{{#icon-blocks}}
			<li class="{{class}}">{{{ html }}}</li>
		{{/icon-blocks}}
	</ul>
{{/data-whale-footer}}
