<footer class="freedom-footer">
	<div class="freedom-footer-container">
		<ul class="freedom-footer-info">
			{{#data-footer.info}}
				<li id="{{id}}">{{{html}}}</li>
			{{/data-footer.info}}
		</ul>
		<ul class="freedom-footer-places">
			{{#data-footer.places}}
				<li id="{{id}}">{{{html}}}</li>
			{{/data-footer.places}}
		</ul>
		<ul class="freedom-footer-icons">
			{{#data-footer.icons}}
				<li id="{{id}}">{{{html}}}</li>
			{{/data-footer.icons}}
		</ul>
	</div>
</footer>
