{{#data-whale-nav}}
<nav class="whale-navbar">
	<a class="whale-navbar-brand" href="{{brand-href}}">
		<img class="whale-navbar-brand-logo" src="{{brand-logo}}" alt="{{brand-alt}}" decoding="async">
	</a>
	<ul class="whale-navbar-menu">
		{{#items}}
			<li class="{{classes}}">
				{{{ html-link }}}
				{{#has-children}}
					<div class="whale-dropdown-menu" role="menu">
						{{#children}}
							{{{ html-link }}}
							{{#has-children}}
								<div class="whale-dropdown-menu whale-dropdown-submenu" role="menu">
									{{#children}}
										{{{ html-link }}}
									{{/children}}
								</div>
							{{/has-children}}
						{{/children}}
					</div>
				{{/has-children}}
			</li>
		{{/items}}
	</ul>
	{{#theme-toggle}}
		<button type="button" class="whale-theme-toggle" data-whale-theme-toggle aria-label="{{label}}" title="{{label}}" aria-pressed="{{aria-pressed}}">
			<span class="whale-theme-toggle-icon whale-theme-toggle-when-light">{{{ html-moon-icon }}}</span>
			<span class="whale-theme-toggle-icon whale-theme-toggle-when-dark">{{{ html-sun-icon }}}</span>
		</button>
	{{/theme-toggle}}
	{{>LoginMenu}}
	{{#notifications}}
		{{{ html }}}
	{{/notifications}}
	{{>SearchBox}}
</nav>
{{/data-whale-nav}}
