<header>
	<div class="whale-nav-wrapper whale-navbar-fixed">
		{{>Nav}}
	</div>
</header>
<section>
	<div class="content-wrapper">
		{{#has-whale-sidebar}}
			<aside>
				<div class="whale-sidebar">
					<div class="live-recent-wrapper">
						{{>LiveRecent}}
					</div>
					{{{ html-whale-right-ad }}}
				</div>
			</aside>
		{{/has-whale-sidebar}}
		<div class="whale-content">
			<div class="whale-content-header">
				{{#has-whale-site-notice}}
					<div class="whale-notice" role="alert">
						<button type="button" class="whale-notice-close" data-whale-dismiss="notice" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{{ html-whale-site-notice }}}
					</div>
				{{/has-whale-site-notice}}
				{{{ html-whale-header-ad }}}
				{{>ContentTools}}
				<div class="title">
					<h1>{{{ html-title }}}</h1>
				</div>
				<div class="contentSub" {{{ html-user-language-attributes }}}>
					{{{ html-subtitle }}}
				</div>
			</div>
			<div class="whale-content-main" id="content">
				{{#html-user-message}}
					<div class="usermessage">{{{ html-user-message }}}</div>
				{{/html-user-message}}
				{{#has-whale-user-contribution-graph}}
					{{>UserContributionGraph}}
				{{/has-whale-user-contribution-graph}}
				{{{ html-categories }}}
				<article class="mw-body-content" id="mw-content-text">
					{{{ html-body-content }}}
				</article>
				{{{ html-whale-belowarticle-ad }}}
			</div>
			{{#has-whale-mobile-live-recent}}
				<div class="mobile-live-recent-wrapper">
					{{>LiveRecentMobile}}
				</div>
			{{/has-whale-mobile-live-recent}}
			<footer>
				<div class="whale-footer">
					{{{ html-after-content }}}
					{{{ html-whale-bottom-ad }}}
					{{#has-whale-mobile-ad}}
						<div class="mobile-ads"></div>
					{{/has-whale-mobile-ad}}
					{{>Footer}}
				</div>
			</footer>
			<div id="whale-bottombtn">
				<div class="scroll-button" id="whale-scrolltoc">{{{ html-whale-scroll-toc-icon }}}</div>
				<div class="scroll-button" id="whale-scrollup">{{{ html-whale-scroll-up-icon }}}</div>
				<div class="scroll-button" id="whale-scrolldown">{{{ html-whale-scroll-down-icon }}}</div>
			</div>
		</div>
	</div>
</section>
{{{ html-whale-adsense-script }}}
{{>LoginModal}}
{{>ShortUrlModal}}
{{{ html-whale-debughtml }}}
